Flask==3.0.3
Authlib==1.6.9
mariadb==1.1.14
pymssql==2.3.10
py-healthcheck==1.10.1
psycopg2==2.9.11
prometheus-client==0.23.1
python-dotenv==1.2.1
requests==2.31.0
SQLAlchemy==2.0.45
rk-digi==2.2.0
openai==2.12.0
azure-ai-projects==2.1.0
azure-identity==1.25.1
azure-ai-agents==1.1.0
pdfplumber==0.11.8
python-docx==1.2.0
openpyxl==3.1.5
tiktoken==0.12.0