Flask==3.0.3
Authlib
mariadb
pymssql
py-healthcheck
pysftp
psycopg2
prometheus-client
python-dotenv
requests==2.31.0
requests-pkcs12==1.24
SQLAlchemy
openai
azure-ai-projects
azure-identity
azure-ai-agents
pdfplumber
python-docx
openpyxl